@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mynerve&family=Satisfy&display=swap');
:root {
  --primary-color: #5AA6A3;
  --bg-color: #8DC3C7;
  --font-color: #DFFBFC;
  --bg: #0bffff;
  --font-style: "Caveat", cursive;
  --font-v2: "Mynerve", cursive;
  --font-h: "Satisfy", cursive;
}
* {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url('indonesiaOli.jpeg');
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    rgb(255, 255, 255) 77%,
    rgba(255, 255, 255, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
  width: 100%;
  height: 500px;
  z-index: 5;
}

.navbar {
  background-color: var(--bg-color);
}

.brand {
  font-family: var(--font-style);
  font-size: 2em;
  font-weight: 600;
}

.LogoBrand {
  color: var(--bg);
  font-size: 1.8em;
  font-family: var(--font-style);
  font-weight: 500;
}

.textHeader {
  font-family: var(--font-h);
  color: #FFF5EE;
}

.textHeader .tHeader {
  color: black;
}

.welcome {
  position: absolute;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 150px;
  background-color: var(--bg-color);
}

.btn {
  background-color: var(--bg-color);
}

.message {
  z-index: 99;
}

@media (max-width: 768px) {
  .hero {
    height: 200px; 
  }
}